						<li class="beginner-articles-item col-md-12 col-sm-6">
							<article class="beginner-article-preview">
								<a class="news-block-link" href="article_page.html">
									<img class="article-preview-pic" src="img/article-preview-6.jpg" alt="Confideal: гарант безопасной сделки в криптовалютном мире">
									<div class="article-info-wrap dark-bg">
										<div class="main-news-header-link beginner-header-link beginner-article-header">Что такое технология блокчейн (Blockchain)?</div>
										<p class="paragraph article-preview-desc">Блокчейн простыми словами можно назвать цепочкой блоков, которые выстраиваются последовательно... <span class="read-more-link">Читать далее</span></p>
									</div>
								</a>
							</article>
						</li>
						<li class="beginner-articles-item col-md-12 col-sm-6">
							<article class="beginner-article-preview">
								<a class="news-block-link" href="article_page.html">
									<img class="article-preview-pic" src="img/article-preview-7.png" alt="Что такое Bitcoin (Биткоин)?">
									<div class="article-info-wrap dark-bg">
										<div class="main-news-header-link beginner-header-link beginner-article-header">Что такое Bitcoin (Биткоин)?</div>
										<p class="paragraph article-preview-desc">Биткоины – это новое поколение цифровых денег, которые не привязаны ни к одной физической валюте, драгоценному... <span class="read-more-link">Читать далее</span></p>
									</div>
								</a>
							</article>
						</li>
