<div class="narrow-col">
	<div class="detail-page-aside-col col-md">
		<article class="site-block-aside-small">
			<a class="news-block-link" href="article_page.html">
				<img class="article-preview-pic" src="img/article-preview-7.png" alt="Что такое Bitcoin (Биткоин)?">
				<div class="article-info-wrap dark-bg">
					<div class="main-news-header-link beginner-header-link">
						<h3 class="beginner-article-header">Что такое технология блокчейн (Blockchain)?</h3>
					</div>
				</div>
			</a>
		</article>

		<article class="site-block-aside-small">
			<a class="news-block-link" href="article_page.html">
				<img class="article-preview-pic" src="img/article-preview-6.jpg" alt="Что такое Bitcoin (Биткоин)?">
				<div class="article-info-wrap dark-bg">
					<div class="main-news-header-link beginner-header-link">
						<h3 class="beginner-article-header">Что такое технология Bitcoin?</h3>
					</div>
				</div>
			</a>
		</article>

		<div class="banner-aside-small">
			баннер
		</div>

		<article class="site-block-aside-small">
			<a class="news-block-link" href="article_page.html">
				<img class="article-preview-pic" src="img/article-preview-7.png" alt="Что такое Bitcoin (Биткоин)?">
				<div class="article-info-wrap dark-bg">
					<div class="main-news-header-link beginner-header-link">
						<h3 class="beginner-article-header">Что такое технология блокчейн (Blockchain)?</h3>
					</div>
				</div>
			</a>
		</article>

		<article class="site-block-aside-small">
			<a class="news-block-link" href="article_page.html">
				<img class="article-preview-pic" src="img/article-preview-6.jpg" alt="Что такое Bitcoin (Биткоин)?">
				<div class="article-info-wrap dark-bg">
					<div class="main-news-header-link beginner-header-link">
						<h3 class="beginner-article-header">Что такое технология Bitcoin?</h3>
					</div>
				</div>
			</a>
		</article>

		<article class="site-block-aside-small">
			<a class="news-block-link" href="article_page.html">
				<img class="article-preview-pic" src="img/article-preview-7.png" alt="Что такое Bitcoin (Биткоин)?">
				<div class="article-info-wrap dark-bg">
					<div class="main-news-header-link beginner-header-link">
						<h3 class="beginner-article-header">Что такое технология блокчейн (Blockchain)?</h3>
					</div>
				</div>
			</a>
		</article>

		<article class="site-block-aside-small">
			<a class="news-block-link" href="article_page.html">
				<img class="article-preview-pic" src="img/article-preview-6.jpg" alt="Что такое Bitcoin (Биткоин)?">
				<div class="article-info-wrap dark-bg">
					<div class="main-news-header-link beginner-header-link">
						<h3 class="beginner-article-header">Что такое технология Bitcoin?</h3>
					</div>
				</div>
			</a>
		</article>
	</div>
</div>
