<div class="row">
						<div class="col-lg-6 d-flex">
							<div class="article-preview main-article">
								<a class="news-block-link" href="article_page.html">
									<img class="article-preview-pic" src="img/article-preview-4.png" alt="Confideal: гарант безопасной сделки в криптовалютном мире">
									<div class="article-info-wrap dark-bg">
										<div class="article-info-header">
											<p class="article-info">
												<time class="published-time" datetime="2017-11-01T22:41">01 ноября<span class="mobile-hidden"> 2017</span>, 22:41</time>
												<span class="views-count"><img class="views-count-img" src="img/view-count.svg" alt="Количество просмотров:">2550</span>
											</p>
										</div>
										<div class="header main-news-header-link header-link article-header">Детский сад в Нью-Йорке будет принимать биткоины вместо кредитных карт.</div>
										<p class="paragraph main-news-preview mobile-hidden">Пока люди, которые с недоверием относятся к биткоину утверждают, что  криптовалюты используются только для спекуляции и не имеют практического применения, дошкольное учреждение в Нью-Йорке успешно показало, что биткоин может использоваться, как удобный способ оплаты. <span class="read-more-link">Читать далее</span></p>
									</div>
								</a>
							</div>
						</div>
						<div class="col-lg-6 d-flex">
							<div class="row">
								<div class="col-lg-6 col-md-4 d-flex">
									<div class="article-preview">
										<a class="news-block-link" href="article_page.html">
											<img class="article-preview-pic" src="img/article-preview-3.png" alt="Confideal: гарант безопасной сделки в криптовалютном мире">
											<div class="article-info-wrap dark-bg">
												<div class="article-info-header">
													<p class="article-info">
														<time class="published-time" datetime="2017-11-01T22:41">01 ноября<span class="mobile-hidden"> 2017</span>, 22:41</time>
														<span class="views-count"><img class="views-count-img" src="img/view-count.svg" alt="Количество просмотров:">2550</span>
													</p>
												</div>
												<div class="header main-news-header-link header-link article-header-small">ICO проект: как совершить успешное вложение</div>
											</div>
										</a>
									</div>
								</div>
								<div class="col-lg-6 col-md-4 d-flex">
									<div class="article-preview">
										<a class="news-block-link" href="article_page.html">
											<img class="article-preview-pic" src="img/article-preview-3.png" alt="Confideal: гарант безопасной сделки в криптовалютном мире">
											<div class="article-info-wrap dark-bg">
												<div class="article-info-header">
													<p class="article-info">
														<time class="published-time" datetime="2017-11-01T22:41">01 ноября<span class="mobile-hidden"> 2017</span>, 22:41</time>
														<span class="views-count"><img class="views-count-img" src="img/view-count.svg" alt="Количество просмотров:">2550</span>
													</p>
												</div>
												<div class="header main-news-header-link header-link article-header-small">LavkaLavka и «Восход» планируют войти в криптовалютную «песочницу» Центробанка.</div>
											</div>
										</a>
									</div>
								</div>
								<div class="col-lg-12 col-md-4 d-flex">
									<div class="article-preview">
										<a class="news-block-link" href="article_page.html">
											<img class="article-preview-pic" src="img/article-preview-5.png" alt="Confideal: гарант безопасной сделки в криптовалютном мире">
											<div class="article-info-wrap dark-bg">
												<div class="article-info-header">
													<p class="article-info">
														<time class="published-time" datetime="2017-11-01T22:41">01 ноября<span class="mobile-hidden"> 2017</span>, 22:41</time>
														<span class="views-count"><img class="views-count-img" src="img/view-count.svg" alt="Количество просмотров:">2550</span>
													</p>
												</div>
												<div class="header main-news-header-link header-link article-header">Андреас Антонопулос: почему банки звонят биткойнерам</div>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>