<section class="more-news-block site-block">
						<div class="site-block-header">
							<h2 class="header-label">Еще свежие новости</h2>
						</div>
						<div class="article-details-inner">
							<div class="more-news-slider-wrap">
								<div class="more-news-slider flexslider" id="slider">
									<ul class="more-news-list list-reset slides">
										<li>
											<div class="more-news-inner">
												<a class="hashtag-link altcoin" href="feed_category.html">#Altcoin</a>
												<p class="article-info">
													<time class="published-time" datetime="2017-11-01T22:41">01 ноября 2017, 22:41</time>
													<span class="views-count"><img class="views-count-img img-invert" src="img/view-count.svg" alt="Количество просмотров:">2550</span>
												</p>
												<a class="article-header-link" href="article_page.html">
													<h3 class="header aside-header-small">Ethereum подписал соглашение с Российским государственным банком ВЭБ</h3>
												</a>
											</div>
										</li>
										<li>
											<div class="more-news-inner">
												<a class="hashtag-link politics" href="feed_category.html">#Политика</a>
												<p class="article-info">
													<time class="published-time" datetime="2017-11-01T22:41">01 ноября 2017, 22:41</time>
													<span class="views-count"><img class="views-count-img img-invert" src="img/view-count.svg" alt="Количество просмотров:">2550</span>
												</p>
												<a class="article-header-link" href="article_page.html">
													<h3 class="header aside-header-small">Борис Титов представил предложения по правовому регулированию криптовалют</h3>
												</a>
											</div>
										</li>
										<li>
											<div class="more-news-inner">
												<a class="hashtag-link bitcoin" href="feed_category.html">#Bitcoin</a>
												<p class="article-info">
													<time class="published-time" datetime="2017-11-01T22:41">01 ноября 2017, 22:41</time>
													<span class="views-count"><img class="views-count-img img-invert" src="img/view-count.svg" alt="Количество просмотров:">2550</span>
												</p>
												<a class="article-header-link" href="article_page.html">
													<h3 class="header aside-header-small">Segwit2x: Следующий форк Биткойна не даст легких денег</h3>
												</a>
											</div>
										</li>
										<li>
											<div class="more-news-inner">
												<a class="hashtag-link altcoin" href="feed_category.html">#Altcoin</a>
												<p class="article-info">
													<time class="published-time" datetime="2017-11-01T22:41">01 ноября 2017, 22:41</time>
													<span class="views-count"><img class="views-count-img img-invert" src="img/view-count.svg" alt="Количество просмотров:">2550</span>
												</p>
												<a class="article-header-link" href="article_page.html">
													<h3 class="header aside-header-small">Ethereum подписал соглашение с Российским государственным банком ВЭБ</h3>
												</a>
											</div>
										</li>
										<li>
											<div class="more-news-inner">
												<a class="hashtag-link politics" href="feed_category.html">#Политика</a>
												<p class="article-info">
													<time class="published-time" datetime="2017-11-01T22:41">01 ноября 2017, 22:41</time>
													<span class="views-count"><img class="views-count-img img-invert" src="img/view-count.svg" alt="Количество просмотров:">2550</span>
												</p>
												<a class="article-header-link" href="article_page.html">
													<h3 class="header aside-header-small">Борис Титов представил предложения по правовому регулированию криптовалют</h3>
												</a>
											</div>
										</li>
										<li>
											<div class="more-news-inner">
												<a class="hashtag-link bitcoin" href="feed_category.html">#Bitcoin</a>
												<p class="article-info">
													<time class="published-time" datetime="2017-11-01T22:41">01 ноября 2017, 22:41</time>
													<span class="views-count"><img class="views-count-img img-invert" src="img/view-count.svg" alt="Количество просмотров:">2550</span>
												</p>
												<a class="article-header-link" href="article_page.html">
													<h3 class="header aside-header-small">Segwit2x: Следующий форк Биткойна не даст легких денег</h3>
												</a>
											</div>
										</li>
									</ul>
								</div>
								<div class="custom-navigation">
									<a class="slide-btn flex-next" href="#"><span class="mobile-hidden">след.</span></a>
									<a class="slide-btn flex-prev" href="#"><span class="mobile-hidden">пред.</span></a>
								</div>
							</div>
						</div>
					</section>