<article class="special-project site-block-aside">
					<a class="news-block-link" href="article_page.html">
						<img class="article-preview-pic" src="img/special-project-bg.png" alt="">
						<div class="article-info-wrap special-project-inner">
							<div class="special-project-header">
								<h2 class="header-label">Спецпроект</h2>
								<p class="special-project-header-inner">
									<img class="special-project-img" src="img/logo-white.svg" alt="Coin Duck">
									<span class="special-project-plus">+</span>
									<img class="special-project-img" src="img/btc.svg" alt="Bitcoin">
								</p>
							</div>
							<p class="special-project-desc">Записки <span class="color-orange">трейдера</span>. История побед и неудач на ваших глазах.</p>
						</div>
					</a>
				</article>