<form class="subscribe-form site-block-aside" action="" method="post">
					<h2 class="subscribe-form-header">Подписка на новости Coin <span class="color-orange">Duck</span></h2>
					<div class="subscribe-form-inner">
						<input class="subscribe-form-input" id="subscribe-email" type="email" name="email" placeholder="введите ваш E-mail" required>
						<label class="visually-hidden" for="subscribe-email">Введите ваш e-mail</label>
						<button class="subscribe-form-submit" type="submit"><img class="subscribe-img" src="img/subscribe-btn.png" alt="Подписаться"></button>
					</div>
				</form>