<article class="video-block site-block-aside">
					<div class="site-block-header">
						<h2 class="header-label">
							<span class="header-label-short" aria-hidden="true" title="Видео про Bitcoin">Видео</span>
							<span class="header-label-long">Видео про Bitcoin</span>
						</h2>
						<a class="site-block-link" href="video.html">все видео</a>
					</div>
					<ul class="last-videos-list list-reset row no-gutters">
						<li class="videos-item col-12">
							<article class="youtube-video">
								<a class="youtube-popup-link" href="video_page.html" data-youtube="aNLTyaW5MNE">
									<div class="youtube-thumbnail-wrap">
										<img class="youtube-thumbnail" src="https://img.youtube.com/vi/aNLTyaW5MNE/mqdefault.jpg" alt="Билл Гейтс: &laquo;Никто не может остановить биткойн!&raquo;">
									</div>
									<div class="header youtube-video-name">Билл Гейтс: &laquo;Никто не может остановить биткойн!&raquo;</div>
								</a>
							</article>
						</li>
						<li class="videos-item col-12">
							<article class="youtube-video">
								<a class="youtube-popup-link" href="video_page.html" data-youtube="g3DD2UhRSM4">
									<div class="youtube-thumbnail-wrap">
										<img class="youtube-thumbnail" src="https://img.youtube.com/vi/g3DD2UhRSM4/mqdefault.jpg" alt="Бытовой биткойн: как &laquo;майнить&raquo; в домашних условиях">
									</div>
									<div class="header youtube-video-name">Бытовой биткойн: как &laquo;майнить&raquo; в домашних условиях</div>
								</a>
							</article>
						</li>
						<li class="videos-item col-12">
							<article class="youtube-video">
								<a class="youtube-popup-link" href="video_page.html" data-youtube="Aybt-UZb4kk">
									<div class="youtube-thumbnail-wrap">
										<img class="youtube-thumbnail" src="https://img.youtube.com/vi/Aybt-UZb4kk/mqdefault.jpg" alt="Золото цифрового века Bitcoin | Премьера">
									</div>
									<div class="header youtube-video-name">Золото цифрового века Bitcoin | Премьера</div>
								</a>
							</article>
						</li>
					</ul>
				</article>